<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark fa fa-envelope-o"> info@stroycontrol.ru </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark fa fa-phone"> +7 (343) 222-22-02</a>
          </li>


          <!--<li class="nav-item" [routerLinkActive]='["link-active"]' >
            <a class="nav-link text-dark" *ngIf="!userData" [routerLink]='["/login"]'>Login</a>
          </li>-->
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!userData"  >
            <a class="nav-link text-dark" *ngIf="userData.isLoggedIn && userData.role==userRole.User"
               [routerLink]='["/user-home"]' >UserHome</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!userData">
            <a class="nav-link text-dark" *ngIf="userData.isLoggedIn && userData.role==userRole.Admin"
               [routerLink]='["/admin-home"]' >AdminHome</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' >
            <a class="nav-link text-dark fa fa-sign-out" (click)=logout() >Выйти</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userData">
            <a class="nav-link text-dark fa fa-user-o"> <b> {{userData.FirstName}}</b> </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>
